<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>あなたの相棒を決定します</h1>
    <h2>動物を選んでください</h2>

    <form action="/post" method="post">
        <select name="animal" id="animal">
        <option value="猫" label="猫" selected>猫</option>
        <option value="犬" label="犬">犬</option>
        <option value="狐" lavel="狐">狐</option>
        </select>


        <button type="submit">決定</button>
    </form>


</body>
</html>